#aboutText {
    font-size: 28px;
    text-align: center;
    padding: 40px;
    color: white;
  }
  
  #home-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./power.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    opacity: 0.4;
    z-index: -1;
  }
  
  .new-card {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    color: white;
    margin: 3% auto;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
  }

  #mission{
    float: left;
    width: 100%;
    display: block;
    text-align: left;
  }
  
  .card-text-new {
    font-size: 20px;
    margin-bottom: 30px;
  }
  
  .button-container {
    text-align: center;
    margin-top: 30px;
  }
  
  #join {
    max-width: 800px;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    background-color: #215732;
    border-color: #215732;
  }
  #join:hover {
    background-color: #245e36;
    border-color: #245e36;
  }